@import "breakpoints";

$violet : #5964E0;
$light-violet : #939BF4;
$very-dark-blue: #19202D;
$midnight : #121721;
$white: #FFFFFF;
$light-grey: #F4F6F8;
$gray: #9DAEC2;
$dark-gray: #6E8098;

@mixin button1 {
  height: 3rem;
  max-width: 140px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: $violet;
  color: $white;
  font-size: 1rem;

  &:hover {
    background-color: $light-violet;
  }
}

@mixin h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
}

@mixin h4 {
  font-size: .9rem;
  font-weight: bold;
  line-height: 1.2rem;
}

