@import "utils";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: inherit;
  height: inherit;
  max-width: 1100px;
  margin: 0 auto;

  @include media(tablet-l) {
    padding: 0 1.5rem;
  }

  @include media(mobile) {
    padding: 0 1rem;
  }
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}