@import "utils";

.jobsGrid {
  padding: 4rem 0 5rem;
  min-height: 100vh;


  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    column-gap: 1.5rem;
    row-gap: 3.2rem;

    @include media(tablet-s){
      grid-template-columns: 1fr 1fr;
    }

    @include media(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__loadMore {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    &--button {
      @include button1;
    }
  }
}


