@import "utils";

@mixin searchBarInput {
  height: 100%;
  padding: 0 1.5rem;
  display: flex ;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, .2);

  img {
    height: 24px;
    width: 24px;
  }

  input {
    height: 30%;
    width: 100%;
    margin-left: 1rem;
    border: none;
    font-size: 1rem;
    color: $very-dark-blue;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}

.searchBar {

  &__container {
    height: 80px;
    background-color: $white;
    border-radius: 10px;
    margin: 0 auto;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 3fr 2fr 1.3fr 1fr;
    align-items: center;
    position: relative;
    top: -40px;

    @include media(tablet-s) {
      grid-template-columns: 1fr 1fr .5fr .3fr;
    }

    @include media(mobile) {
      grid-template-columns: 1fr 66px;
    }
  }


  &__title {
    @include searchBarInput;

    input{
      @include media(mobile) {
        margin: 0;
      }
    }

    input{

    }
  }

  &__location {
    @include searchBarInput;
  }

  &__fullTimeJob {
    display: flex;
    align-items: center;
    padding-left: 1rem;

    .custom-checkbox {
      display: inline-flex;
      cursor: pointer;
      align-items: center;
    }

    .custom-checkbox-show--checkbox {
      background-color: $gray;
      border-radius: 2px;

      &:hover {
        background-color: $light-violet;
      }
    }

    .custom-checkbox > .custom-checkbox-input {
      display: none;
    }

    .custom-checkbox > .custom-checkbox-show {
      display: inline-block;
      width: 30px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
    }

    .custom-checkbox > .custom-checkbox-text {
      line-height: 20px;
      width: 100%;
    }

    .custom-checkbox > .custom-checkbox-input:checked + .custom-checkbox-show--checkbox {
      background-color: $violet;
    }

    .custom-checkbox-text {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 1rem;
      color: $very-dark-blue;
    }
  }

  &__search {
    @include media(mobile) {
      margin-left: 1rem;
    }
    &--button {
      @include button1;
    }
  }
}

.darkMode .searchBar {

  &__container {
    background-color: $very-dark-blue;
  }

  &__fullTimeJob {

    .custom-checkbox-text {
      color: $white;
    }
  }
}
